@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}

/*可重用*/

/**** 网页底部 *****/
.foot{
	height:50px;
	width:1000px;
	position:relative;
}

.foot_help{
	font-size:15px;
	position:absolute;
	bottom:1px;
	left:350px;
	color:#FFF;
	filter: Alpha(Opacity=60);
}

/**** 网页导航 *****/
.head{
	height:60px;
}

.banner{
	height:40px;
	width:680px;
	margin:auto;
	position:relative;
	top:10px;
}

.bar{
	list-style-type:none;
}

.bar li{
	display:block;
	height:25px;
	width:170px;
	float:left;
	text-align:center;/*文字居中*/
	line-height:39px;
}

/*star ********* index.html*/
#index_main{
	height:800px;
	width:1000px;
	background-image:url(../img/index_bg.jpg);
	margin:0 auto;
}

#index_content{
	height:690px;
}

#index_flash{
	height:460px;
	position:relative;
}

#index_flash_hello{
	height:370px;
	width:630px;
	margin:auto;
	position:relative;
	top:60px;
}

#index_button{
	height:230px;
	position:relative;
}

#index_bt1{
	height:32px;
	width:125px;
	position:absolute;
	left:330px;
	text-align:center;
}

#index_bt1 a{
	display:block;
	text-decoration:none;
	font-size:24px;
	color:#FFF;
    filter: Alpha(Opacity=60);

}

#index_bt1 a:hover{
	text-decoration:underline;
	font-weight:bold;
	filter: Alpha(Opacity=100);
}

#index_bt2{
	height:32px;
	width:125px;
	position:absolute;
	right:330px;
	text-align:center;
}

#index_bt2 a{
	display:block;
	text-decoration:none;
	font-size:24px;
	color:#FFF;
	filter: Alpha(Opacity=60);
}

#index_bt2 a:hover{
	text-decoration:underline;
	font-weight:bold;
	filter: Alpha(Opacity=100);
}

/*end ******** index.html*/




/*start ******** custom.html*/
#cus_main{
	height:910px;
	width:1000px;
	background-color:#666;
	margin:0 auto;
}

#cus_content{
	height:750px;
	background-color:#900;
}

#custom1{
	height:260px;
	background-color:#006;
}

#cs1_left{
	height:260px;
	width:600px;
	float:left;
	background-color:#F00;
}

#cs1_right{
	height:260px;
	width:400px;
	float:right;
	background-color:#9F0;
}

#cus_line1{
	height:5px;
	width:800px;
	border-bottom-color:#00F;
	border-bottom-style:solid;
	border-bottom-width:5px;
	position:relative;
	left:100px;
}

#custom2{
	height:260px;
	background-color:#000;
}

#cs2_left{
	height:260px;
	width:400px;
	float:left;
	background-color:#9F0;
}

#cs2_right{
	height:260px;
	width:600px;
	float:right;
	background-color:#F00;
}

#cus_line2{
	height:5px;
	width:800px;
	border-bottom-color:#00F;
	border-bottom-style:solid;
	border-bottom-width:5px;
	position:relative;
	top:0px;
	left:100px;
}

#custom3{
	height:260px;
	background-color:#0C0;
}

#cs3_left{
	height:260px;
	width:600px;
	float:left;
	background-color:#F00;
}

#cs3_right{
	height:260px;
	width:400px;
	float:right;
	background-color:#9F0;
}

/*end ******** custom.html*/




/*start ******** introduce.html*/

#in_main{
	height:3100px;
	width:1000px;
	background-color:#0A3E6D;
	margin:auto;
	position:relative;
}

#in_content{
	height:3050px;
	width:1000px;
}

#in_head{
	height:500px;
	width:1000px;
	background-image:url(../img/introduce_bg.png);
}

#in_con1{
	height:1330px;
	width:800px;
	background-color:#0A3E6D;
	margin:auto;
	position:relative;
	top:-120px;
	border-style:solid; 
	border-width:1px;
	border-color:#666;
}

#in_con1_head{
	height:320px;
	position:relative;
}

#in_con1_head_left{
	width:240px;
	height:320px;
	float:left;
}

#in_con1_head_left h2{
	position:relative;
	top:40px;
	left:25px;
	color:#FFF;
}

#in_con1_head_left img{
	height:200px;
	width:200px;
	position:relative;
	left:20px;
	top:50px;
}

#in_con1_head_right{
	width:560px;
	heigth:320px;
	float:right;
}

#in_con1_head_right p{
	width:530px;
	color:#FFF;
	font-family:黑体;
	position:relative;
	top:80px;
	font-size:16px;
}

#in_con1_pic1{
	height:300px;
	width:800px;
	position:relative;
}

#in_con1_pic1 img{
	width:500px;
	height:300px;
	position:absolute;
	right:150px;
}

#in_con1_text{
	height:80px;
	position:relative;
}

#in_con1_text p{
	width:730px;
	position:absolute;
	left:35px;
	top:15px;
	font-size:16px;
	font-family:黑体;
	color:#FFF;
}

#in_con1_pic2{
	height:320px;
	position:relative;
}

#in_con1_pic2 img{
	width:500px;
	height:300px;
	position:absolute;
	right:150px;
}

#in_con1_pic3{
	height:320px;
	position:relative;
}

#in_con1_pic3 img{
	width:500px;
	height:300px;
	position:absolute;
	right:150px;
}

/*****上方*****/

#in_con2{
	height:1280px;
	width:800px;
	background-color:#0A3E6D;
	margin:auto;
	position:relative;
	top:-80px;
	border-style:solid; 
	border-width:1px;
	border-color:#666;
}

#in_con2_head{
	heigth:300px;
	width:800px;
	position:relative;
}

#in_con2_head_left
{
	width:540px;
	height:300px;
	float:left;
	position:relative;
}

#in_con2_head_left h2{
	position:relative;
	width:300px;
	top:30px;
	left:20px;
	color:#FFF;
}

#in_con2_head_left p{
	width:440px;
	position:absolute;
	top:70px;
	left:80px;
	color:#FFF;
	font-size:16px;
	font-family:黑体;
}

#in_con2_head_right{
	width:260px;
	heigth:300px;
	position:relative;
	float:right;
}

#in_con2_head_right img{
	width:200px;
	height:200px;
	position:absolute;
	top:80px;
	left:30px;
}

#in_con2_text1{
	clear:both;
	height:70px;
	width:800px;
	position:relative;
}

#in_con2_text1 p{
	width:700px;
	position:relative;
	left:50px;
	font-size:16px;
	font-family:黑体;
	color:#FFF;
}

#in_con2_pic1{
	height:400px;
	width:800px;
	position:relative;
}

#in_con2_pic1 img{
	width:650px;
	height:370px;
	position:relative;
	top:10px;
	left:75px;
}

#in_con2_text2{
	height:150px;
	width:800px;
	position:relative;
}

#in_con2_text2 p{
	width:700px;
	position:relative;
	left:50px;
	top:10px;
	color:#FFF;
	font-size:16px;
	font-family:黑体;
}

#in_con2_text2 a{
	position:absolute;
	bottom:30px;
	right:60px;
	display:block;
	text-decoration:none;
	font-size:14px;
	color:#FFF;
}

#in_con2_text2 a:hover{
	text-decoration:underline;
	font-weight:bold;
}

#in_con2_pic2{
	heigth:3600px;
	width:800px;
	position:relative;
}

#in_con2_pic2 img{
	height:320px;
	width:580px;
	position:relative;
	left:110px;
}

#in_foot{
	height:50px;
	width:1000px;
	position:relative;
}

#in_foot_help{
	font-size:15px;
	position:absolute;
	bottom:1px;
	left:350px;
	color:#FFF;
	filter: Alpha(Opacity=60);
}


/*end ******** introduce.html*/




/*start**************matterhorn.html*/
#mat_main{
	height:2780px;
	width:1000px;
	background-image:url(../img/matterhorn_main.jpg);
	position:relative;
	margin:auto;
}

#mat_top{
	height:2730px;
	width:1000px;
}

#mat_content{
	height:2370px;
	width:800px;
	background-color:#FFFEFC;
	position:absolute;
	left:100px;
	top:300px;
	border-style:solid;
	border-width:1px;
	border-color:#666;
}

#mat_con_introduce{
	height:220px;
	width:800px;
	position:relative;
}

#mat_con_introduce h2{
	color:#000000;
	position:absolute;
	top:70px;
	left:50px;
}

#mat_con_introduce p{
	color:#000000;
	width:700px;
	font-size:14px;
	position:absolute;
	top:150px;
	left:50px;
}

#mat_con_intro_line{
	position:absolute;
	bottom:0px;
	left:50px;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:1px;
	width:700px;
}

#mat_con_location{
	height:300px;
	width:800px;
	position:relative;
}

#mat_con_loc_left{
	width:500px;
	height:300px;
	float:left;
}

#mat_con_loc_left h2{
	color:#000000;
	position:absolute;
	top:30px;
	left:50px;
}

#mat_con_loc_left p{
	color:#000000;
	width:400px;
	font-size:14px;
	position:absolute;
	top:150px;
	left:50px;
}

#mat_con_loc_right{
	width:300px;
	height:300px;
	float:right;
	position:relative;
}

#mat_con_loc_right img{
	width:250px;
	height:225px;
	position:absolute;
	top:30px;
}

#mat_con_loc_line{
	position:absolute;
	bottom:0px;
	left:50px;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:1px;
	width:700px;
}

#mat_con_origin{
	width:800px;
	height:300px;
	position:relative;
}

#mat_con_ori_left{
	width:300px;
	height:300px;
	float:left;
	position:relative;
}

#mat_con_ori_left img{
	height:225px;
	width:250px;
	position:absolute;
	top:30px;
	right:0px;
}

#mat_con_ori_right{
	width:500px;
	height:300px;
	float:right;
	position:relative;
}

#mat_con_ori_right h2{
	color:#000000;
	position:absolute;
	top:30px;
	left:50px;
}

#mat_con_ori_right p{
	color:#000000;
	width:400px;
	font-size:14px;
	position:absolute;
	top:100px;
	left:50px;
}

#mat_con_ori_line{
	position:absolute;
	bottom:0px;
	left:50px;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:1px;
	width:700px;
}

#mat_con_info1{
	width:800px;
	height:180px;
	position:relative;
}

#mat_con_info1 h2{
	color:#000000;
	position:absolute;
	top:30px;
	left:50px;
}

#mat_con_info1 p{
	color:#000000;
	width:700px;
	font-size:14px;
	position:absolute;
	top:100px;
	left:50px;
}

#mat_con_info2{
	width:800px;
	height:300px;
	position:relative;
}

#mat_con_info2 img{
	height:260px;
	width:530px;
	position:absolute;
	left:135px;
}

#mat_con_info3{
	width:800px;
	height:120px;
	position:relative;
}

#mat_con_info3 p{
	color:#000000;
	width:700px;
	font-size:14px;
	position:absolute;
	left:50px;
}

#mat_con_info4{
	width:800px;
	height:350px;
	position:relative;
}

#mat_con_info4 img{
	position:absolute;
	left:135px;
}

#mat_con_info5{
	width:800px;
	height:80px;
	position:relative;
}

#mat_con_info5 p{
	color:#000000;
	width:700px;
	font-size:14px;
	position:absolute;
	left:50px;
}

#mat_con_info6{
	width:800px;
	height:400px;
	position:relative;
}

#mat_con_info6 img{
	position:absolute;
	left:100px;
}

#mat_foot{
	height:50px;
	width:1000px;
	position:relative;
}

#mat_foot_help{
	font-size:15px;
	position:absolute;
	bottom:1px;
	left:300px;
	color:#000;
	filter: Alpha(Opacity=60);
}

/*end**************matterhorn.html*/


/*start****************hotel.html*/

#hotel_main{
	height:3320px;
	width:1000px;
	margin:auto;
}

#hotel_top{
	height:3270px;
	width:1000px;
	background-color:#FFF;
	position:relative;
}

#hotel_content{
	height:2830px;
	width:800px;
	background-color:#FFF;
	margin:auto;
	position:relative;
	top:400px;
	border-style:solid;
	border-width:1px;
	border-color:#666;
}

#hotel_con1{
	height:215px;
	width:800px;
}

#hotel_con1_top{
	height:165px;
	width:800px;
}

#hotel_con1_top_left{
	height:165px;
	width:150px;
	float:left;
}

#hotel_con1_top_right{
	height:165px;
	width:650px;
	float:left;
	position:relative;
}

#hotel_con1_top_right h2{
	position:absolute;
	top:40px;
}

#hotel_con1_top_right p{
	font-size:14px;
	font-family:黑体;
	position:absolute;
	top:80px;
}

#hotel_con1_top_right img{
	position:absolute;
	top:75px;
	left:260px;
}

#hotel_con1_bottom{
	height:50px;
	width:800px;
	position:relative;
}

#hotel_con1_bottom p{
	position:absolute;
	left:30px;
	font-size:16px;
	font-family:黑体;
}

#hotel_con2{
	height:360px;
	width:800px;
	position:relative;
}

#hotel_con2_flash{
	margin:auto;
}

#hotel_con3{
	height:190px;
	width:800px;
}

#hotel_con3_left{
	height:160px;
	width:200px;
	float:left;
}

#hotel_con3_right{
	height:160px;
	width:600px;
	float:left;
	position:relative;
}

#hotel_con3_right h2{
	position:absolute;
	top:30px;
}

#hotel_con3_right p{
	width:550px;
	font-size:16px;
	font-family:黑体;
	position:absolute;
	top:70px;
	left:20px;
}

#hotel_con4{
	height:255px;
	width:800px;
	position:relative;
}

#hotel_con4 img{
	position:absolute;
	top:20px;
	left:30px;
}

#hotel_con4 h2{
	position:absolute;
	top:20px;
	left:60px;
}

#hotel_con4 p{
	width:700px;
	position:absolute;
	top:100px;
	left:30px;
}

#hotel_con5{
	height:325px;
	width:800px;
	position:relative;
}

#hotel_con5 img{
	position:absolute;
	top:20px;
	left:30px;
}

#hotel_con5 h2{
	position:absolute;
	top:20px;
	left:60px;
}

#hotel_con5 p{
	width:700px;
	position:absolute;
	top:100px;
	left:30px;
}

#hotel_con6{
	height:740px;
	width:800px;
	position:relative;
}

#hotel_con6_head{
	height:70px;
	width:800px;
	position:relative;
}

#hotel_con6_head img{
	position:absolute;
	bottom:0px;
	left:30px;
}


#hotel_con6_head h2{
	position:absolute;
	bottom:0px;
	left:60px;
}

#hotel_con6_pic1{
	height:110px;
	width:800px;
	position:relative;
}

#hotel_con6_pic1 img{
	position:absolute;
	left:80px;
	bottom:10px;
}

#hotel_con6_line1{
	position:absolute;
	bottom:0px;
	left:50px;
	border-bottom-color:#000000;
	border-bottom-style:dashed;
	border-bottom-width:1px;
	width:700px;
}

#hotel_con6_pic2{
	height:110px;
	width:800px;
	position:relative;
}

#hotel_con6_pic2 img{
	position:absolute;
	left:80px;
	bottom:10px;
}

#hotel_con6_line2{
	position:absolute;
	bottom:0px;
	left:50px;
	border-bottom-color:#000000;
	border-bottom-style:dashed;
	border-bottom-width:1px;
	width:700px;
}

#hotel_con6_pic3{
	height:110px;
	width:800px;
	position:relative;
}

#hotel_con6_pic3 img{
	position:absolute;
	left:80px;
	bottom:10px;
}

#hotel_con6_line3{
	position:absolute;
	bottom:0px;
	left:50px;
	border-bottom-color:#000000;
	border-bottom-style:dashed;
	border-bottom-width:1px;
	width:700px;
}

#hotel_con6_pic4{
	height:130px;
	width:800px;
	position:relative;
}

#hotel_con6_pic4 img{
	position:absolute;
	left:80px;
	bottom:10px;
}

#hotel_con6_line4{
	position:absolute;
	bottom:0px;
	left:50px;
	border-bottom-color:#000000;
	border-bottom-style:dashed;
	border-bottom-width:1px;
	width:700px;
}

#hotel_con6_pic5{
	height:70px;
	width:800px;
	position:relative;
}

#hotel_con6_pic5 img{
	position:absolute;
	left:80px;
	bottom:10px;
}

#hotel_con6_line5{
	position:absolute;
	bottom:0px;
	left:50px;
	border-bottom-color:#000000;
	border-bottom-style:dashed;
	border-bottom-width:1px;
	width:700px;
}

#hotel_con6_pic6{
	height:60px;
	width:800px;
	position:relative;
}

#hotel_con6_pic6 img{
	position:absolute;
	left:80px;
	bottom:10px;
}

#hotel_con6_tail{
	height:100px;
	width:800px;
	position:relative;
}

#hotel_con6_tail p{
	position:absolute;
	bottom:30px;
	right:20px;
}

#hotel_con6_tail a{
	display:block;
	text-decoration:none;
	font-size:24px;
	color:#FFF;
    filter: Alpha(Opacity=60);

}

#hotel_con6_tail a:hover{
	text-decoration:underline;
	font-weight:bold;
	filter: Alpha(Opacity=100);
}

#hotel_con7{
	height:145px;
	width:800px;
}

#hotel_con7_tip{
	height:130px;
	width:600px;
	margin:auto;
	position:relative;
	border-style:solid;
	border-width:1px;
	border-color:#666;
}

#hotel_con7_tip h5{
	position:absolute;
	top:20px;
	left:20px;
}

#hotel_con7_tip p{
	position:absolute;
	top:50px;
	left:50px;
	font-size:12px;
	font-family:宋体;
}

#hotel_foot{
	height:50px;
	width:1000px;
	position:relative;
}

#hotel_foot p{
	font-size:15px;
	position:absolute;
	bottom:1px;
	left:350px;
	color:#FFF;
	filter: Alpha(Opacity=60);
}


/*end****************hotel.html*/